{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

	<br>
<div style="color:red; display: flex;
  flex-direction: row-reverse; margin: 60px " >
<div class="card" style="width: 18rem; ">
  <img class="card-img-top" src="{% static 'images/Covid.jpeg' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Covid Test</h5>
    <p class="card-text">Lab Test for Covid</p>
    <a href="{% url 'lab_form' %}" class="btn btn-primary">ADD</a>
  </div>

</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/vitamin.jpeg' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Vitamin Test</h5>
    <p class="card-text">Lab Test for Vitamin Check</p>
    <a href="{% url 'lab_form' %}" class="btn btn-primary">ADD</a>
  </div>

</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/creatine.jpeg' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> Creatine Test</h5>
    <p class="card-text">Lab Test for Creatine Check</p>
    <a href="{% url 'lab_form' %}" class="btn btn-primary">ADD</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/Preg.jpeg' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Pregnancy Test</h5>
    <p class="card-text">Lab Test for Pregnancy Test</p>
    <a href="{% url 'lab_form' %}" class="btn btn-primary">ADD</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/blood.jpg' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Blood Test</h5>
    <p class="card-text">Lab Test for Blood Test</p>
    <a href="{% url 'lab_form' %}" class="btn btn-primary">ADD</a>
  </div>
</div>
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'images/X_ray.jpg' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> X-RAY Check</h5>
    <p class="card-text">Lab Check for X-RAY </p>
    <a href="{% url 'lab_form' %}" class="btn btn-primary">ADD</a>
  </div>
</div>
</div>

{% endblock %}













